README.md
*.example
node_modules/
.data/
.editorconfig
eslint.config.*
Dockerfile
docker-compose.yml
scripts/
types/
types/generated/
types/client/
types/*.ts
types/pnpm-lock.yaml
start.sh
.husky/
.git/
.husky/
.github/
.vscode/